<h1>New User</h1>

<%= form_with model: @user do |f| %>
  Name: <%= f.text_field :name %> <br><br>
  Email: <%= f.text_field :email %> <br><br>
  Password: <%= f.text_field :password %> <br><br>
  Password Confirmation: <%= f.text_field :password_confirmation %> <br><br>
  <%= f.submit %>
<% end %>