<div class="container mt-3">
  <div class="row">
    <h2><%= @user.name.capitalize %>'s Profile</h2>
  </div>

  <div class="row mt-4 mb-4 bg-light">
    <div class="col-md-12 d-flex justify-content-center">
      <h3>Hosting Events</h3>
    </div>
  </div>
    
  <div class="row mb-4">
    <div class="col-md-6 d-flex justify-content-center">
      <h4>Upcoming</h4>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <h4>Past</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <% if @user.hosted_events.upcoming.any? %>
        <table class="table table-bordered table-sm">
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Time</th>
          </tr>
          <% @user.hosted_events.upcoming.each do |event| %>
            <tr>
              <td><%= link_to event.name, event_path(event) %></td>
              <td><%= event.location %></td>
              <td><%= event.time %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <table>
          <tr>
            <td>none</td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <% if @user.hosted_events.past.any? %>
        <table class="table table-bordered table-sm">
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Time</th>
          </tr>
          <% @user.hosted_events.past.each do |event| %>
            <tr>
              <td><%= link_to event.name, event_path(event) %></td>
              <td><%= event.location %></td>
              <td><%= event.time %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        none
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-4 mb-4 bg-light">
      <h3>Attending Events</h3>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6 d-flex justify-content-center">
      <h4>Upcoming</h4>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <h4>Past</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">        
      <% if @user.attending_events.upcoming.any? %>
        <table class="table table-bordered table-sm">
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Time</th>
          </tr>
          <% @user.attending_events.upcoming.each do |event| %>
            <tr>
              <td><%= link_to event.name, event_path(event) %></td>
              <td><%= event.location %></td>
              <td><%= event.time %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <table>
          <tr>
            <td>none</td>
          </tr>
        </table>
      <% end %>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <% if @user.attending_events.past.any? %>
        <table class="table table-bordered table-sm">
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Time</th>
          </tr>
          <% @user.attending_events.past.each do |event| %>
            <tr>
              <td><%= link_to event.name, event_path(event) %></td>
              <td><%= event.location %></td>
              <td><%= event.time %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <table>
          <tr>
            <td>none</td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>

  <%= render 'shared/to_edit_user' %>
  <%= render 'shared/to_events' %>

</div>

