<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
    
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
    <%= form_with model: @event, local: true do |f| %>
      Name:<%= f.text_field :name, class: "form-control" %><br>
      Location:<%= f.text_field :location, class: "form-control" %><br>
      Date/Time:<%= f.datetime_select :time %><br><br>
      Attendees:<%= f.select :attendee_ids, @user_options, { :prompt => "Please select" }, multiple: true, include_blank: false, include_hidden: false, class: "form-control" %><br>
      <%= f.submit %>
    <% end %>
  </div>
</div>


