<h1>Event</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Time</th>
    <th>Creator</th>
  </tr>
  <tr>
    <td><%= @event.name %></td>
    <td><%= @event.location %></td>
    <td><%= @event.time %></td>
    <td><%= @event.host.name %></td>
  </tr>
</table>

<br><br>

<table>
  <tr>
    <th>Attendees</th>
  </tr>
  <% @event.attendees.each do |attendee| %>
    <tr>
      <td><%= attendee.name %></td>
    </tr>
  <% end %>
</table>

<br><br>

<% if @event.host.name == current_user.name %>
  <%= link_to "Edit event", edit_event_path(@event) %>
  <%= link_to "Delete event", event_path(@event), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>


